/**
 * -----------------------------------------------------------------------------
 * $PADDING
 * -----------------------------------------------------------------------------
 */

 .padding-horizontal--xs { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); }
 .padding-horizontal--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 
 .padding-horizontal--s { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); }
 .padding-horizontal--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 
 .padding-horizontal--m { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); }
 .padding-horizontal--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 
 .padding-horizontal--l { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); }
 .padding-horizontal--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 
 .padding-horizontal--xl { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); }
 .padding-horizontal--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 
 .padding-horizontal--none { padding-left: 0; padding-right: 0; }
 .padding-horizontal--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@mobile { @include bp-min-width($bp-mobile) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@tablet { @include bp-min-width($bp-tablet) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop { @include bp-min-width($bp-desktop) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-left: 0; padding-right: 0; } }
 
 .padding--xs { @include rem(padding, $spacing-xs); }
 .padding--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-xs); } }
 
 .padding--s { @include rem(padding, $spacing-s); }
 .padding--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-s); } }
 .padding--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-s); } }
 .padding--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-s); } }
 .padding--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-s); } }
 .padding--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-s); } }
 .padding--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-s); } }
 .padding--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-s); } }
 
 .padding--m { @include rem(padding, $spacing-m); }
 .padding--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-m); } }
 .padding--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-m); } }
 .padding--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-m); } }
 .padding--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-m); } }
 .padding--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-m); } }
 .padding--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-m); } }
 .padding--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-m); } }
 
 .padding--l { @include rem(padding, $spacing-l); }
 .padding--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-l); } }
 .padding--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-l); } }
 .padding--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-l); } }
 .padding--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-l); } }
 .padding--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-l); } }
 .padding--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-l); } }
 .padding--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-l); } }
 
 .padding--xl { @include rem(padding, $spacing-xl); }
 .padding--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-xl); } }
 .padding--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-xl); } }
 
 .padding--none { padding: 0 !important; }
 .padding--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding: 0 !important; } }
 .padding--none\@mobile { @include bp-min-width($bp-mobile) { padding: 0 !important; } }
 .padding--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding: 0 !important; } }
 .padding--none\@tablet { @include bp-min-width($bp-tablet) { padding: 0 !important; } }
 .padding--none\@desktop { @include bp-min-width($bp-desktop) { padding: 0 !important; } }
 .padding--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding: 0 !important; } }
 .padding--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding: 0 !important; } }
 
 .padding-bottom--xs { @include rem(padding-bottom, $spacing-xs); }
 .padding-bottom--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-xs); } }
 
 .padding-bottom--s { @include rem(padding-bottom, $spacing-s); }
 .padding-bottom--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-s); } }
 
 .padding-bottom--m { @include rem(padding-bottom, $spacing-m); }
 .padding-bottom--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-m); } }
 
 .padding-bottom--l { @include rem(padding-bottom, $spacing-l); }
 .padding-bottom--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-l); } }
 
 .padding-bottom--xl { @include rem(padding-bottom, $spacing-xl); }
 .padding-bottom--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-xl); } }
 
 .padding-bottom--none { padding-bottom: 0 !important; }
 .padding-bottom--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@mobile { @include bp-min-width($bp-mobile) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@tablet { @include bp-min-width($bp-tablet) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop { @include bp-min-width($bp-desktop) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-bottom: 0 !important; } }
 
 .padding-left--xs { @include rem(padding-left, $spacing-xs); }
 .padding-left--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xs); } }
 
 .padding-left--s { @include rem(padding-left, $spacing-s); }
 .padding-left--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-s); } }
 .padding-left--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-s); } }
 
 .padding-left--m { @include rem(padding-left, $spacing-m); }
 .padding-left--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-m); } }
 .padding-left--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-m); } }
 
 .padding-left--l { @include rem(padding-left, $spacing-l); }
 .padding-left--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-l); } }
 .padding-left--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-l); } }
 
 .padding-left--xl { @include rem(padding-left, $spacing-xl); }
 .padding-left--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xl); } }
 
 .padding-left--none { padding-left: 0 !important; }
 .padding-left--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-left: 0 !important; } }
 .padding-left--none\@mobile { @include bp-min-width($bp-mobile) { padding-left: 0 !important; } }
 .padding-left--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-left: 0 !important; } }
 .padding-left--none\@tablet { @include bp-min-width($bp-tablet) { padding-left: 0 !important; } }
 .padding-left--none\@desktop { @include bp-min-width($bp-desktop) { padding-left: 0 !important; } }
 .padding-left--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-left: 0 !important; } }
 .padding-left--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-left: 0 !important; } }
 
 .padding-right--xs { @include rem(padding-right, $spacing-xs); }
 .padding-right--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-xs); } }
 
 .padding-right--s { @include rem(padding-right, $spacing-s); }
 .padding-right--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-s); } }
 .padding-right--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-s); } }
 
 .padding-right--m { @include rem(padding-right, $spacing-m); }
 .padding-right--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-m); } }
 .padding-right--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-m); } }
 
 .padding-right--l { @include rem(padding-right, $spacing-l); }
 .padding-right--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-l); } }
 .padding-right--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-l); } }
 
 .padding-right--xl { @include rem(padding-right, $spacing-xl); }
 .padding-right--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-xl); } }
 
 .padding-right--none { padding-right: 0 !important; }
 .padding-right--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-right: 0 !important; } }
 .padding-right--none\@mobile { @include bp-min-width($bp-mobile) { padding-right: 0 !important; } }
 .padding-right--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-right: 0 !important; } }
 .padding-right--none\@tablet { @include bp-min-width($bp-tablet) { padding-right: 0 !important; } }
 .padding-right--none\@desktop { @include bp-min-width($bp-desktop) { padding-right: 0 !important; } }
 .padding-right--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-right: 0 !important; } }
 .padding-right--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-right: 0 !important; } }
 
 .padding-top--xs { @include rem(padding-top, $spacing-xs); }
 .padding-top--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-xs); } }
 
 .padding-top--s { @include rem(padding-top, $spacing-s); }
 .padding-top--s\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-s); } }
 .padding-top--s\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-s); } }
 
 .padding-top--m { @include rem(padding-top, $spacing-m); }
 .padding-top--m\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-m); } }
 .padding-top--m\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-m); } }
 
 .padding-top--l { @include rem(padding-top, $spacing-l); }
 .padding-top--l\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-l); } }
 .padding-top--l\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-l); } }
 
 .padding-top--xl { @include rem(padding-top, $spacing-xl); }
 .padding-top--xl\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--xl\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-xl); } }
 
 .padding-top--none { padding-top: 0 !important; }
 .padding-top--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-top: 0 !important; } }
 .padding-top--none\@mobile { @include bp-min-width($bp-mobile) { padding-top: 0 !important; } }
 .padding-top--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-top: 0 !important; } }
 .padding-top--none\@tablet { @include bp-min-width($bp-tablet) { padding-top: 0 !important; } }
 .padding-top--none\@desktop { @include bp-min-width($bp-desktop) { padding-top: 0 !important; } }
 .padding-top--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-top: 0 !important; } }
 .padding-top--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-top: 0 !important; } }
 