<fieldset>
    <legend>Fieldset legend</legend>
    <ul class="list">
        <li>Name: <input type="text"></li>
        <li>Email: <input type="text"></li>
        <li>Date of birth: <input type="text"></li>
    </ul>
</fieldset>