/**
 * -----------------------------------------------------------------------------
 * $GRID
 * -----------------------------------------------------------------------------
 */

.grid,
.grid--inline {
    display: grid;
    width: 100%;
}

.grid--inline {
    display: inline-grid;
}

@for $i from 1 through 12 {
    .grid-template--cols-#{$i} {
        grid-template-columns: repeat(0 + $i, 1fr);
    }
}

@for $i from 1 through 12 {
    .grid-template--rows-#{$i} {
        grid-template-rows: repeat(0 + $i, 1fr);
    }
}

    .grid__item {
        vertical-align: top;
    }

    @for $i from 1 through 12 {
        .grid-item--start-col-#{$i} {
            grid-column-start: 0 + $i;
        }
    }
    
    @for $i from 1 through 13 {
        .grid-item--end-col-#{$i} {
            grid-column-end: 0 + $i;
        }
    }
    
    @for $i from 1 through 12 {
        .grid-item--start-row-#{$i} {
            grid-row-start: 0 + $i;
        }
    }
    
    @for $i from 1 through 12 {
        .grid-item--end-row-#{$i} {
            grid-row-end: 0 + $i;
        }
    }  

    @for $i from 1 through 11 {
        .grid-item--offset-#{$i} {
            grid-column-start: 1 + $i;
        }
    }

    @for $i from 1 through 12 {
        .grid-item--width-#{$i} {
            grid-column: span 0 + $i;
        }
    }

/* Pattern library example */ 
.grid--example {
    grid-gap: $spacing-m;
    @include rem(margin-bottom, $spacing-m);

    &:last-child { margin-bottom: 0; }
    
    & .grid__item {
        @include rem(padding, $spacing-m);  

        background-color: lighten($color-grey-light, 30%);
        border-radius: 3px;
        font-size: $font-size-small;
        color: $color-black;
    }
}

/* Pattern library: blog page example */ 
.grid--blog-example {
    grid-gap: $spacing-l;
    grid-template-columns: 1fr;

    @include rem(padding-left, $spacing-l);
    @include rem(padding-right, $spacing-l);

    @include bp-min-width($bp-desktop) {
        grid-gap: $spacing-xl;
    }

    @include bp-min-width($bp-desktop-small) {
        grid-template-columns: 3fr 1fr;
        
        padding-left: 0;
        padding-right: 0;
    }

    @include bp-min-width($bp-desktop-medium) {
        grid-gap: $spacing-xxl;
    }

    &:last-child { margin-bottom: 0; }
}

/* Pattern library: blog posts example */ 
.grid--blog-posts-example {
    grid-gap: $spacing-xl;
    grid-template-columns: 1fr;

    @include bp-min-width($bp-tablet) {
        grid-gap: $spacing-l;
        grid-template-columns: 1fr 1fr;
    }

    @include bp-min-width($bp-desktop) {
        grid-gap: $spacing-xl;
    }

    &:last-child { margin-bottom: 0; }
}

.grid--triple { grid-template-columns: 1fr 1fr 1fr; }

.grid-gap {
    &--none { grid-gap: 0; }
    &--xs { grid-gap: $spacing-xs; }
    &--xs { grid-gap: $spacing-xs; }
    &--default { grid-gap: $spacing-m; }
    &--large { grid-gap: $spacing-l; }
    &--huge { grid-gap: $spacing-xl; }
}
  