<div style="max-width: 432px;">
    
<div class="summary">
    <div class="summary__media">
        {{> @image}}
    </div>
    <div class="summary__content">
        <h3 class="summary__title">Great game UI at a glance</h3>
        <p class="summary__meta">27th February 2018</p>
        <a class="summary__cta link--grow-ltr" href="#">Find out more &raquo;</a>
    </div>
</div>

</div>