<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-1">grid-item--start-col-1</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-2">grid-item--start-col-2</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-3">grid-item--start-col-3</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-4">grid-item--start-col-4</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-5">grid-item--start-col-5</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-6">grid-item--start-col-6</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-7">grid-item--start-col-7</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-8">grid-item--start-col-8</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-9">grid-item--start-col-9</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-10">grid-item--start-col-10</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-11">grid-item--start-col-11</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--start-col-12">grid-item--start-col-12</div>
</div>