<aside class="sidebar sidebar--blog">
    <h4 class="margin-bottom--s">Sidebar</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac arcu velit. Donec vestibulum rutrum congue. Vestibulum in congue sem. Nulla mi nisi, efficitur a sem eget, sodales facilisis turpis.</p>

    <h4 class="margin-bottom--s">Categories</h4>    
    <ul class="list">
        <li><a href="#">Category link</a></li>
        <li><a href="#">Category link</a></li>
        <li><a href="#">Category link</a></li>
        <li><a href="#">Category link</a></li>
        <li><a href="#">Category link</a></li>
    </ul>
</aside>