<div class="card card--overlay-v2 card--example">
    <div class="card__media">
        <img src="https://moov2websitedev.azureedge.net/media/Default/PatternLibrary/milo-432x768-9x16.jpg" alt="Describe the image here" />
    </div>
    <div class="card__content">
        <h3 class="card__title">Card title</h3>
        <p class="card__meta">27th February 2018</p>
        <p class="card__excerpt">This is a sentence or two describing the thing that this card is for. It should make the viewer want to click the CTA below.</p>
        <a class="card__cta link--grow-ltr" href="#">Find out more &raquo;</a>
    </div>
</div>