<table>
    <thead>
        <tr>
            <th>Month</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>January</td>
            <td>01</td>
        </tr>
        <tr>
            <td>February</td>
            <td>02</td>
        </tr>
        <tr>
            <td>March</td>
            <td>03</td>
        </tr>
    </tbody>
</table>