<p class="text-heading--1">Mimic a &lt;h1&gt;</p>

<p class="text-heading--2">Mimic a &lt;h2&gt;</p>

<p class="text-heading--3">Mimic a &lt;h3&gt;</p>

<p class="text-heading--4">Mimic a &lt;h4&gt;</p>

<p class="text-heading--5">Mimic a &lt;h5&gt;</p>

<p class="text-heading--6">Mimic a &lt;h6&gt;</p>

<p class="text-size--large">This is large text.</p>

<p class="text-size--default">This text is the default size.</p>

<p class="text-size--small">This is small text.</p>




