/**
 * -----------------------------------------------------------------------------
 * $TEXT
 * -----------------------------------------------------------------------------
 */

/**
 * Helpful mixins for text.
 */

@mixin text-blockquote() {
    font-style: italic;
    font-weight: $font-weight-light;

    p {
        font-weight: $font-weight-light;
    }
}

@mixin text-heading() {
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
}

@mixin text-navigation() {
    font-family: $font-family-heading;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-loose;
    line-height: $line-height-tight;
    text-transform: uppercase;
}