<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{path '/css/styles.css'}}">
    <title>Preview Layout</title>

    <script src="{{path '/scripts/modernizr.min.js'}}"></script>
    <script src="{{path '/scripts/rellax.min.js'}}"></script>
</head>
<body>

{{{ yield }}}

<script>
  // Also can pass in optional settings block
  var rellax = new Rellax('.rellax', {
    speed: -2,
    center: false,
    wrapper: null,
    round: true,
    vertical: true,
    horizontal: false
  });
</script>

</body>
</html>