/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    position: relative;

    margin: 0 0 $spacing-l 0;

    @include text-blockquote();   
    color: $color-grey-light;

    @include bp-min-width($bp-tablet) {
        font-size: $font-size-blockquote;
    }

    p {
        hanging-punctuation: first;
        text-indent: -0.4em;
    }
}

.blockquote--large {
    font-size: $font-size-large;
}