/**
 * -----------------------------------------------------------------------------
 * $VIDEO
 * -----------------------------------------------------------------------------
 */

video {
    object-fit: cover;
    width: 100vw;
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
}