/**
 * -----------------------------------------------------------------------------
 * $LIST
 * -----------------------------------------------------------------------------
 */

/**
 * Helpful mixins for defining lists.
 */

@mixin list-reset() {
    list-style: none;
    margin: 0;
    @include rem(margin-bottom, $spacing-l);
    
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin list-divided() {
    > li {
        @include rem(padding-bottom, $spacing-xs);
        @include rem(padding-top, $spacing-xs);

        border-bottom: 1px solid $color-grey;

        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
    }
}

@mixin list-divided-opaque() {
    > li {
        border-color: rgba($color-grey, 0.2);
    }
}

@mixin list-horizontal() {
    > li {
        display: inline-block;
        padding-bottom: 0;
        padding-top: 0;
        vertical-align: middle;
    }
}

@mixin list-horizontal-divided() {
    > li {
        padding-bottom: 0;
        @include rem(padding-left, $spacing-xs);
        @include rem(padding-right, $spacing-xs);
        padding-top: 0;

        border-bottom: 0; 
        border-right: 1px solid $color-grey;

        @include bp-min-width($bp-mobile) {
            @include rem(padding-left, $spacing-xs);
            @include rem(padding-right, $spacing-xs);
        }

        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            padding-right: 0;
        }
    }
}

@mixin list-horizontal-spaced() {
    > li {
        @include rem(margin-right, $spacing-l);
        padding-bottom: 0;
        padding-top: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin list-spaced() {
    > li {
        @include rem(padding-bottom, $spacing-m);
        @include rem(padding-top, $spacing-m);
    }
}

