/**
 * -----------------------------------------------------------------------------
 * $CARD
 * -----------------------------------------------------------------------------
 */

.card {
    position: relative;
    max-width: 768px;

    text-decoration: none;
}

    .card__media {
        @include rem(margin-bottom, $spacing-m);
    }

    .card__content {
        font-size: $font-size-small;

        @include bp-min-width($bp-mobile-large) {
            font-size: $font-size-default;
        }
    }

        .card__title {
            @include rem(margin-bottom, $spacing-xs);
            
            @include bp-min-width($bp-mobile-large) {
                font-size: $font-size-large;
            }
        }

        .card__meta {
            color: $color-grey;
        }

        .card__excerpt {}

        .card__cta {}


.card--horizontal {
    @include bp-min-width($bp-tablet) {
        .card__media,
        .card__content {
            display: inline-block;
            vertical-align: top;
            width: 60%;
        }      
        .card__media { 
            margin-bottom: 0;
            @include rem(padding-right, $spacing-l);  
            width: 40%;
        }

        @supports (display: flex) {
            display: flex;
        }
    }
}

.card--overlay-v1,
.card--overlay-v2,
.card--overlay-v3 {
    overflow: hidden;

    .card__content {
        bottom: 0;
        @include rem(padding, $spacing-m); 
        position: absolute;
        width: 100%;
        z-index: $z-index-default; 

        color: $color-white;
        
        @include bp-min-width($bp-mobile-large) {
            @include rem(padding, $spacing-l); 
        }

        &:after {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: $z-index-under;

            background-color: $color-brand-primary;
            opacity: 0.7;
        }
    }

        .card__title { 
            opacity: 1;

            @include bp-min-width($bp-mobile-large) {
                font-size: $font-size-heading-2-mobile;
            }
        }
        .card__meta { 
            color: $color-white;
            opacity: .6; 
        }
        .card__excerpt { opacity: .9; }
        .card__cta { opacity: 1; }

    .card__media {
        margin-bottom: 0;
        z-index: $z-index-back;
    }
}

.card--overlay-v2 {
    .card__content {
        bottom: -15rem;
        transition: bottom .3s ease-in-out;
    }

    &:hover {
        .card__content {
            bottom: 0;
        }
    }
}

.card--overlay-v3 {

    .card__content {
        height: 100%;
    }
}

.card--white {
    background: $color-white;

    .card__content {
        @include rem(padding-bottom, $spacing-l);         
        @include rem(padding-left, $spacing-l);         
        @include rem(padding-right, $spacing-l);         
        @include rem(padding-top, $spacing-m);         
    }
}