<p class="text-transform--capitalize">Use this class to capitalise each word in a sentence.</p>

<p class="text-transform--lowercase">This class is used to make all characters lowercase.</p>

<p class="text-transform--uppercase">This class changes all characters to uppercase.</p>