<div class="spacer-examples">

    <div class="spacer spacer--xxxs"></div>
    <div class="spacer spacer--xxs"></div>
    <div class="spacer spacer--xs"></div>
    <div class="spacer spacer--s"></div>
    <div class="spacer spacer--m"></div>
    <div class="spacer spacer--l"></div>
    <div class="spacer spacer--xl"></div>
    <div class="spacer spacer--xxl"></div>
    <div class="spacer spacer--xxxl"></div>

</div>