<h3>Default</h3>

<ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Reset</h3>

<ul class="list">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Divided</h3>

<ul class="list list--divided">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Divided (light)</h3>

<ul class="list list--divided list--opaque">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Divided (light) and spaced</h3>

<ul class="list list--divided list--opaque list--spaced">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Horizontal</h3>

<ul class="list list--horizontal">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Horizontal and divided</h3>

<ul class="list list--horizontal list--divided">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Horizontal and divided (light)</h3>

<ul class="list list--horizontal list--divided list--opaque">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<h3>Horizontal, divided (light) and spaced</h3>

<ul class="list list--horizontal list--divided list--opaque list--spaced">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>