/**
 * -----------------------------------------------------------------------------
 * $FIELDSET
 * -----------------------------------------------------------------------------
 */

fieldset {
	@include rem(margin-bottom, $spacing-l);
	margin-left: 0;
	@include rem(padding-bottom, $spacing-m * 1.3);
	@include rem(padding-left, $spacing-xs);
	@include rem(padding-right, $spacing-xs);
	@include rem(padding-top, $spacing-m);

	display: block;

	border: 1px solid $color-grey;

	@include bp-min-width($bp-desktop) {
		
	}

	&:last-child {
		margin-bottom: 0;
	}

	legend {
		@include rem(padding-left, $spacing-xs);
		@include rem(padding-right, $spacing-xs);

		font-size: $font-size-small;
	}
	
	ul {
		li {
			@include rem(margin-left, $spacing-xs);
			@include rem(margin-right, $spacing-xs);
		}
	}
}