/**
 * -----------------------------------------------------------------------------
 * $FIGURE
 * -----------------------------------------------------------------------------
 */

figure {
    position: relative;
    margin: 0 0 $spacing-l 0;

    img,
    picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        @include rem(padding-top, $spacing-xs);
        
        color: $color-grey-light;
        font-size: $font-size-small;
        font-style: italic;

        text-align: center;
    }
}