/**
 * -----------------------------------------------------------------------------
 * $IMAGE
 * -----------------------------------------------------------------------------
 */

img, 
picture, 
svg {
     display: block;
     max-width: 100%;
 }
 
.container--content,
.container--content-narrow {
    img {
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    }

    p + img {
        @include rem(padding-top, $spacing-large);
    }

    img + p {
        @include rem(padding-top, $spacing-huge);
    }

    .image-align {
        &--left {
            @include rem(margin-bottom, $spacing-large);
            @include rem(padding-top, $spacing-tiny);

            @include bp-min-width($bp-tablet) {
                float: left;
                @include rem(margin-right, $spacing-large);
            }
        }
        &--right {
            @include rem(margin-bottom, $spacing-large);
            @include rem(padding-top, $spacing-tiny);

            @include bp-min-width($bp-tablet) {
                float: right;
                @include rem(margin-left, $spacing-large);
            }
        }
    }
}
 