/**
 * -----------------------------------------------------------------------------
 * $LIST-BASE
 * -----------------------------------------------------------------------------
 */

ul,
ol {
    @include rem(margin-bottom, $spacing-l);
    @include rem(padding-left, $spacing-l);

    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;

    list-style-position: outside;

    @include bp-min-width($bp-tablet) {
        padding-left: 0;
    }

    > li {
        @include rem(padding-bottom, $spacing-xxxs);
        @include rem(padding-top, $spacing-xxxs);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}