/**
 * -----------------------------------------------------------------------------
 * $RADIO
 * -----------------------------------------------------------------------------
 */

input[type="radio"] {
    display: none;

    & + label {
        margin-bottom: 0;
        @include rem(padding, $spacing-xs);
        
        @include bp-min-width($bp-mobile) {
            @include rem(padding-bottom, $spacing-xs);
            @include rem(padding-left, $spacing-m);
            @include rem(padding-right, $spacing-m);
            @include rem(padding-top, $spacing-xs);
        }

        cursor: pointer;
    }

    &:checked + label {
        @include rem(border-radius, $spacing-xs);

        background-color: $color-grey;
        color: $color-white;
    }
}