<div style="max-width: 768px;">

    <div class="summary summary--horizontal summary--example">
        <div class="summary__media">
            {{> @image}}
        </div><div class="summary__content">
            <h3 class="summary__title">Summary title</h3>
            <p class="summary__meta">27th February 2018</p>
            <p class="summary__excerpt">This is a sentence or two describing the thing that this summary is for. It should make the viewer want to click the CTA below.</p>
            <a class="summary__cta link--grow-ltr" href="#">Find out more &raquo;</a>
        </div>
    </div>

</div>