<p>This is the default text colour.</p>

<p class="text-color--black">This text is black.</p>

<p class="text-color--grey">This text is grey.</p>

<p class="text-color--grey-light">This text is light grey.</p>

<p class="text-color--white bg-color--black">This text is white.</p>