<div class="padding--huge bg-color--black">

    <div class="grid grid--triple grid-gap--huge">
        <div class="grid__item">
            {{> @summary-default}}
        </div>
        <div class="grid__item">
            {{> @summary-default}}
        </div>
        <div class="grid__item">
            {{> @summary-default}}
        </div>
    </div>

</div>