<div class="embed">
    <div class="embed__media">
        <iframe src='https://player.vimeo.com/video/213056981' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>