{{view '@header'}}

<div class="page-content-wrapper">
  
    <div class="post__featured-media alignfull">
        <img src="/pattern-library/images/featured-image-1-2560x1097.jpg" alt="Featured image" />
    </div>

    <h1 class="post__title">A blog post example</h1>

    <div class="post__meta">
        <time class="updated" datetime="2018-10-08T12:06:09+00:00">October 8, 2018</time>. <a href="#">Category Name</a>
    </div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac arcu velit. Donec vestibulum rutrum congue. Vestibulum in congue sem. Nulla mi nisi, efficitur a sem eget, sodales facilisis turpis. Curabitur quis volutpat felis, id dignissim mi. Donec vulputate lorem at viverra imperdiet. Praesent sed leo at tortor ullamcorper luctus. Nulla tincidunt finibus lacus, vel pellentesque magna. In hac habitasse platea dictumst.</p>
    
    <p>Mauris fermentum neque ante, ut semper diam imperdiet nec. Praesent rhoncus orci libero, ac rhoncus ipsum ornare vel. Mauris id pharetra orci. Duis eget arcu sit amet tortor porttitor dignissim id non nisi. Integer ipsum ante, mattis in rutrum ut, malesuada ac tellus. Morbi vel faucibus orci.</p>

    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>Sed ac arcu velit</li>
        <li>Donec vestibulum rutrum congue</li>
        <li>Vestibulum in congue sem</li>
        <li>Nulla mi nisi, efficitur a sem eget, sodales facilisis turpis</li>
        <li>Curabitur quis volutpat felis, id dignissim mi</li>
    </ul>

    <p>Suspendisse nibh nunc, pulvinar ac ullamcorper quis, vehicula vel lorem. Praesent nec sem vel leo pharetra commodo in in massa. Etiam condimentum risus mauris, at lobortis nulla iaculis sed. Morbi condimentum enim ut dolor consectetur semper. Cras non viverra eros.</p>

    <div class="spacer spacer--l"></div>

    <figure class="alignwide">
        <img src="/pattern-library/images/featured-image-2-2560x1097.jpg" alt="Featured image" />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac arcu velit.</figcaption>
    </figure>

    <div class="spacer spacer--l"></div>
    
    <p>Fusce ut varius massa. Nam sodales libero neque. Aenean sed libero maximus nisi varius lacinia. Phasellus at tellus et velit mattis dictum. Sed ut elementum urna. Morbi feugiat, dui sit amet ultrices scelerisque, enim turpis ornare massa, ac tristique lacus ipsum id diam. Fusce vestibulum accumsan dictum.</p>

    <blockquote>
        <p>&quot;Vestibulum quis arcu eget arcu tincidunt ullamcorper. Sed a orci sed quam facilisis pulvinar. Nulla et sapien at urna fringilla facilisis. Mauris aliquet leo sit amet sodales laoreet&quot;</p>
    </blockquote>

    <p>Cras at lacus sit amet quam finibus convallis. Morbi ultrices mi lorem, facilisis interdum massa vulputate a. Aliquam dapibus rutrum magna, et consectetur nunc condimentum sit amet. Nulla facilisi. Mauris placerat neque at dolor ultrices mollis.</p>
    
    <p>Vivamus congue at magna a luctus. Nam nec sollicitudin neque. Praesent porta ipsum sit amet sem sollicitudin scelerisque.</p>

    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        <li>Sed ac arcu velit</li>
        <li>Donec vestibulum rutrum congue</li>
        <li>Vestibulum in congue sem</li>
        <li>Nulla mi nisi, efficitur a sem eget, sodales facilisis turpis</li>
        <li>Curabitur quis volutpat felis, id dignissim mi</li>
    </ol>
    
    <p>Venenatis ante sit amet libero faucibus, non molestie mi malesuada. Suspendisse potenti. Nulla et malesuada lectus, ac aliquet est. Quisque elit ligula, viverra at risus a, rhoncus blandit metus. Cras ut est sed leo ultricies tempus vel sed enim. Praesent aliquam a purus et bibendum. In varius vestibulum felis nec congue. Fusce id mauris id tortor tincidunt ornare ut at orci.</p>
    
</div>

{{view '@footer'}}