{{view '@header'}}

<div class="page-content-wrapper">

    <div class="spacer spacer--l"></div>

    <div class="grid grid--blog-example alignwide">

        <div class="grid grid--blog-posts-example">

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

            <div class="grid__item">
                {{> '@card-short'}}
            </div>

        </div>

        {{> '@sidebar'}}

    </div>

    <div class="spacer spacer--xl"></div>
    
</div>

{{view '@footer'}}