<a class="card" href="/components/preview/blog-post-example">
    <div class="card__media">
        <img src="/pattern-library/images/featured-image-1-768x432.jpg" alt="Featured image thumbnail" />
    </div>
    <div class="card__content">
        <h3 class="card__title">Great game UI at a glance</h3>
        <p class="card__meta">27th February 2018</p>
    </div>
</a>