<p class="text-decoration--line-through">There's a line through this sentence.</p>

<p class="text-decoration--overline">Overlined text.</p>

<p class="text-decoration--underline">Underlined text.</p>