/**
 * -----------------------------------------------------------------------------
 * $PADDING
 * -----------------------------------------------------------------------------
 */

 .padding-horizontal--xs { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); }
 .padding-horizontal--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 .padding-horizontal--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xs); @include rem(padding-right, $spacing-xs); } }
 
 .padding-horizontal--small { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); }
 .padding-horizontal--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 .padding-horizontal--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-s); @include rem(padding-right, $spacing-s); } }
 
 .padding-horizontal--default { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); }
 .padding-horizontal--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 .padding-horizontal--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-m); @include rem(padding-right, $spacing-m); } }
 
 .padding-horizontal--large { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); }
 .padding-horizontal--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 .padding-horizontal--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-l); @include rem(padding-right, $spacing-l); } }
 
 .padding-horizontal--huge { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); }
 .padding-horizontal--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 .padding-horizontal--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xl); @include rem(padding-right, $spacing-xl); } }
 
 .padding-horizontal--none { padding-left: 0; padding-right: 0; }
 .padding-horizontal--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@mobile { @include bp-min-width($bp-mobile) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@tablet { @include bp-min-width($bp-tablet) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop { @include bp-min-width($bp-desktop) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-left: 0; padding-right: 0; } }
 .padding-horizontal--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-left: 0; padding-right: 0; } }
 
 .padding--xs { @include rem(padding, $spacing-xs); }
 .padding--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-xs); } }
 .padding--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-xs); } }
 
 .padding--small { @include rem(padding, $spacing-s); }
 .padding--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-s); } }
 .padding--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-s); } }
 .padding--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-s); } }
 .padding--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-s); } }
 .padding--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-s); } }
 .padding--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-s); } }
 .padding--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-s); } }
 
 .padding--default { @include rem(padding, $spacing-m); }
 .padding--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-m); } }
 .padding--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-m); } }
 .padding--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-m); } }
 .padding--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-m); } }
 .padding--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-m); } }
 .padding--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-m); } }
 .padding--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-m); } }
 
 .padding--large { @include rem(padding, $spacing-l); }
 .padding--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-l); } }
 .padding--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-l); } }
 .padding--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-l); } }
 .padding--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-l); } }
 .padding--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-l); } }
 .padding--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-l); } }
 .padding--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-l); } }
 
 .padding--huge { @include rem(padding, $spacing-xl); }
 .padding--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding, $spacing-xl); } }
 .padding--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding, $spacing-xl); } }
 
 .padding--none { padding: 0 !important; }
 .padding--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding: 0 !important; } }
 .padding--none\@mobile { @include bp-min-width($bp-mobile) { padding: 0 !important; } }
 .padding--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding: 0 !important; } }
 .padding--none\@tablet { @include bp-min-width($bp-tablet) { padding: 0 !important; } }
 .padding--none\@desktop { @include bp-min-width($bp-desktop) { padding: 0 !important; } }
 .padding--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding: 0 !important; } }
 .padding--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding: 0 !important; } }
 
 .padding-bottom--xs { @include rem(padding-bottom, $spacing-xs); }
 .padding-bottom--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-xs); } }
 .padding-bottom--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-xs); } }
 
 .padding-bottom--small { @include rem(padding-bottom, $spacing-s); }
 .padding-bottom--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-s); } }
 .padding-bottom--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-s); } }
 
 .padding-bottom--default { @include rem(padding-bottom, $spacing-m); }
 .padding-bottom--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-m); } }
 .padding-bottom--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-m); } }
 
 .padding-bottom--large { @include rem(padding-bottom, $spacing-l); }
 .padding-bottom--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-l); } }
 .padding-bottom--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-l); } }
 
 .padding-bottom--huge { @include rem(padding-bottom, $spacing-xl); }
 .padding-bottom--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-bottom, $spacing-xl); } }
 .padding-bottom--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-bottom, $spacing-xl); } }
 
 .padding-bottom--none { padding-bottom: 0 !important; }
 .padding-bottom--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@mobile { @include bp-min-width($bp-mobile) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@tablet { @include bp-min-width($bp-tablet) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop { @include bp-min-width($bp-desktop) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-bottom: 0 !important; } }
 .padding-bottom--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-bottom: 0 !important; } }
 
 .padding-left--xs { @include rem(padding-left, $spacing-xs); }
 .padding-left--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xs); } }
 .padding-left--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xs); } }
 
 .padding-left--small { @include rem(padding-left, $spacing-s); }
 .padding-left--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-s); } }
 .padding-left--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-s); } }
 
 .padding-left--default { @include rem(padding-left, $spacing-m); }
 .padding-left--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-m); } }
 .padding-left--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-m); } }
 
 .padding-left--large { @include rem(padding-left, $spacing-l); }
 .padding-left--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-l); } }
 .padding-left--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-l); } }
 
 .padding-left--huge { @include rem(padding-left, $spacing-xl); }
 .padding-left--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-left, $spacing-xl); } }
 .padding-left--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-left, $spacing-xl); } }
 
 .padding-left--none { padding-left: 0 !important; }
 .padding-left--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-left: 0 !important; } }
 .padding-left--none\@mobile { @include bp-min-width($bp-mobile) { padding-left: 0 !important; } }
 .padding-left--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-left: 0 !important; } }
 .padding-left--none\@tablet { @include bp-min-width($bp-tablet) { padding-left: 0 !important; } }
 .padding-left--none\@desktop { @include bp-min-width($bp-desktop) { padding-left: 0 !important; } }
 .padding-left--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-left: 0 !important; } }
 .padding-left--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-left: 0 !important; } }
 
 .padding-right--xs { @include rem(padding-right, $spacing-xs); }
 .padding-right--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-xs); } }
 .padding-right--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-xs); } }
 
 .padding-right--small { @include rem(padding-right, $spacing-s); }
 .padding-right--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-s); } }
 .padding-right--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-s); } }
 
 .padding-right--default { @include rem(padding-right, $spacing-m); }
 .padding-right--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-m); } }
 .padding-right--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-m); } }
 
 .padding-right--large { @include rem(padding-right, $spacing-l); }
 .padding-right--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-l); } }
 .padding-right--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-l); } }
 
 .padding-right--huge { @include rem(padding-right, $spacing-xl); }
 .padding-right--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-right, $spacing-xl); } }
 .padding-right--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-right, $spacing-xl); } }
 
 .padding-right--none { padding-right: 0 !important; }
 .padding-right--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-right: 0 !important; } }
 .padding-right--none\@mobile { @include bp-min-width($bp-mobile) { padding-right: 0 !important; } }
 .padding-right--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-right: 0 !important; } }
 .padding-right--none\@tablet { @include bp-min-width($bp-tablet) { padding-right: 0 !important; } }
 .padding-right--none\@desktop { @include bp-min-width($bp-desktop) { padding-right: 0 !important; } }
 .padding-right--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-right: 0 !important; } }
 .padding-right--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-right: 0 !important; } }
 
 .padding-top--xs { @include rem(padding-top, $spacing-xs); }
 .padding-top--xs\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-xs); } }
 .padding-top--xs\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-xs); } }
 
 .padding-top--small { @include rem(padding-top, $spacing-s); }
 .padding-top--small\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-s); } }
 .padding-top--small\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-s); } }
 
 .padding-top--default { @include rem(padding-top, $spacing-m); }
 .padding-top--default\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-m); } }
 .padding-top--default\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-m); } }
 
 .padding-top--large { @include rem(padding-top, $spacing-l); }
 .padding-top--large\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-l); } }
 .padding-top--large\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-l); } }
 
 .padding-top--huge { @include rem(padding-top, $spacing-xl); }
 .padding-top--huge\@mobile-small { @include bp-min-width($bp-mobile-small) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@mobile { @include bp-min-width($bp-mobile) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@mobile-large { @include bp-min-width($bp-mobile-large) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@tablet { @include bp-min-width($bp-tablet) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@desktop { @include bp-min-width($bp-desktop) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@desktop-medium { @include bp-min-width($bp-desktop-medium) { @include rem(padding-top, $spacing-xl); } }
 .padding-top--huge\@desktop-large { @include bp-min-width($bp-desktop-large) { @include rem(padding-top, $spacing-xl); } }
 
 .padding-top--none { padding-top: 0 !important; }
 .padding-top--none\@mobile-small { @include bp-min-width($bp-mobile-small) { padding-top: 0 !important; } }
 .padding-top--none\@mobile { @include bp-min-width($bp-mobile) { padding-top: 0 !important; } }
 .padding-top--none\@mobile-large { @include bp-min-width($bp-mobile-large) { padding-top: 0 !important; } }
 .padding-top--none\@tablet { @include bp-min-width($bp-tablet) { padding-top: 0 !important; } }
 .padding-top--none\@desktop { @include bp-min-width($bp-desktop) { padding-top: 0 !important; } }
 .padding-top--none\@desktop-medium { @include bp-min-width($bp-desktop-medium) { padding-top: 0 !important; } }
 .padding-top--none\@desktop-large { @include bp-min-width($bp-desktop-large) { padding-top: 0 !important; } }
 