<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-2">grid-item--end-col-2</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-3">grid-item--end-col-3</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-4">grid-item--end-col-4</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-5">grid-item--end-col-5</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-6">grid-item--end-col-6</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-7">grid-item--end-col-7</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-8">grid-item--end-col-8</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-9">grid-item--end-col-9</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-10">grid-item--end-col-10</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-11">grid-item--end-col-11</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-12">grid-item--end-col-12</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--end-col-13">grid-item--end-col-13</div>
</div>