/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * SPACING
 */

$base-unit: 1.6rem;

$spacing-xxxs: $base-unit / 6.8; /* .2rem */
$spacing-xxs: $base-unit / 4.2;  /* .4rem */
$spacing-xs: $base-unit / 2.6;   /* .6rem */
$spacing-s: $base-unit / 1.6;    /* 1rem */
$spacing-m: $base-unit;          /* 1.6rem */
$spacing-l: $base-unit * 1.6;    /* 2.6rem */
$spacing-xl: $base-unit * 2.6;   /* 4.2rem */
$spacing-xxl: $base-unit * 4.2;  /* 6.8rem */
$spacing-xxxl: $base-unit * 6.8; /* 11rem */

/**
* BORDER
*/

$border-radius: $base-unit/4;

$input-border-width: 1px;

/**
* BREAKPOINTS
*/

$bp-mobile-small: 320px;
$bp-mobile: 375px;
$bp-mobile-large: 425px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-small: 1280px;
$bp-desktop-medium: 1440px;
$bp-desktop-large: 1920px;
$bp-desktop-huge: 2200px;

/* WordPress admin bar changes height at this breakpoint */
$bp-wp-mobile: 783px;

/**
* BUTTONS
*/

$btn-tab-width: 140px;

/**
* COLOURS
*/

$color-brand-primary: #149bdc;
$color-brand-secondary: #57527d;

$color-black: #000000;
$color-grey: #595959;
$color-grey-light: #8f8f8f;
$color-white: #FFFFFF;

$color-alert: #dc1414;
$color-alert-text: #ffdcdc;

$color-icon-default: $color-white;
$color-label-default: $color-grey;

$color-text-default: $color-black;
$color-text-title: $color-white;

$color-footer-background: $color-white;
$color-site-background: $color-white;

$color-facebook: #3B5998;
$color-googleplus: #DC4E41;
$color-instagram: #E4405F;
$color-twitter: #1DA1F2;
$color-youtube: #CD201F;

/**
* FONT
*/

$font-family-heading: 'Montserrat', sans-serif;
$font-family-default: 'Lato', sans-serif;

$font-weight-bold: 700;
$font-weight-default: 400;
$font-weight-light: 300;

$font-size-default-em: 1.8em;
$font-size-default: 1.8rem;

$font-size-hero: 8rem;
$font-size-large: 2.1rem;
$font-size-small: 1.4rem;

$font-size-heading: 4.8rem;
$font-size-heading-mobile: 2.8rem;

$font-size-heading-2: 3.6rem;
$font-size-heading-2-mobile: 2.7rem;

$font-size-heading-3: 2.4rem;
$font-size-heading-3-mobile: 2rem;

$font-size-heading-4: $font-size-large;
$font-size-heading-4-mobile: $font-size-default;

$font-size-heading-5: $font-size-default;
$font-size-heading-5-mobile: $font-size-default;

$font-size-heading-6: $font-size-small;
$font-size-heading-6-mobile: $font-size-small;

$font-size-navigation: $font-size-default;

$letter-spacing-loose: 1px;

$line-height-tight: 1;
$line-height-default: 1.4;
$line-height-loose: 1.6;

/**
* GRID
*/

$grid-gap-default: $spacing-l;
$grid-gap-large: $spacing-l * 1.5;
$grid-gap-huge: $spacing-xl * 1.5;

/**
* HEADER
*/

$header-height-mobile: $spacing-xl;

/**
* PATHS
*/

$image-path-pl: '../pattern-library/images' !default;
$font-path-pl: '../fonts' !default;

/**
* TRANSITION
*/

$transition-duration-default: .4s;


/**
* WIDTH
*/

$width-figcaption: 200px;
$width-login-form: 480px;
$width-content-narrow: 600px;
$width-content: 900px;
$width-content-large: 1560px;
$width-header-content: 1280px;
$width-footer-content: 1280px;

$layout-content-wide-width: 128rem;
$layout-content-width: 80rem;


/**
* Z-INDEX
*/

$z-index-nav: 1000;
$z-index-front: 100;
$z-index-default: 1;
$z-index-under: -1;
$z-index-back: -100;
 