/**
 * -----------------------------------------------------------------------------
 * $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * SPACING
 */

$base-unit: 1.2rem;

$spacing-tiny: $base-unit/4;
$spacing-small: $base-unit/2;
$spacing-default: $base-unit;
$spacing-large: $base-unit*2;
$spacing-huge: $base-unit*4;

/**
* BORDER
*/

$border-radius: $base-unit/4;

$input-border-width: 1px;

/**
* BREAKPOINTS
*/

$bp-mobile-small: 320px;
$bp-mobile: 375px;
$bp-mobile-large: 425px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-medium: 1440px;
$bp-desktop-large: 1920px;

/**
* BUTTONS
*/

$btn-tab-width: 140px;

/**
* COLOURS
*/

$color-brand-primary: #bd2021;
$color-brand-secondary: #57527d;

$color-black: #000000;
$color-grey: #595959;
$color-grey-light: #8f8f8f;
$color-white: #FFFFFF;

$color-icon-default: $color-white;
$color-label-default: $color-grey;

$color-text-default: $color-black;
$color-text-title: $color-white;

$color-footer-background: $color-white;
$color-site-background: $color-white;

$color-facebook: #3B5998;
$color-googleplus: #DC4E41;
$color-instagram: #E4405F;
$color-twitter: #1DA1F2;
$color-youtube: #CD201F;


/**
* FONT
*/

$font-family-heading: 'Montserrat', sans-serif;
$font-family-default: 'Lato', sans-serif;

$font-weight-bold: 700;
$font-weight-default: 400;

$font-size-default-em: 1.8em;
$font-size-default: 1.8rem;

$font-size-hero: 8rem;
$font-size-large: 2.1rem;
$font-size-small: 1.4rem;

$font-size-heading: 4.8rem;
$font-size-heading-mobile: 2.8rem;

$font-size-heading-2: 3.6rem;
$font-size-heading-2-mobile: 2.4rem;

$font-size-heading-3: 2.4rem;
$font-size-heading-3-mobile: 2rem;

$font-size-heading-4: $font-size-large;
$font-size-heading-4-mobile: $font-size-default;

$font-size-heading-5: $font-size-default;
$font-size-heading-5-mobile: $font-size-default;

$font-size-heading-6: $font-size-small;
$font-size-heading-6-mobile: $font-size-small;

$letter-spacing-loose: 1px;

$line-height-default: 1.4;
$line-height-loose: 1.6;

/**
* GRID
*/

$grid-gap-default: $spacing-large;
$grid-gap-large: $spacing-large * 1.5;
$grid-gap-huge: $spacing-huge * 1.5;


/**
* TRANSITION
*/

$transition-duration-default: .4s;


/**
* WIDTH
*/

$width-figcaption: 200px;
$width-login-form: 480px;
$width-content-narrow: 600px;
$width-content: 900px;
$width-content-large: 1560px;
$width-header-content: 1650px;

$layout-content-wide-width: 128rem;
$layout-content-width: 80rem;


/**
* Z-INDEX
*/

$z-index-front: 100;
$z-index-default: 1;
$z-index-under: -1;
$z-index-back: -100;
 