<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-1">grid-item--width-1</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-2">grid-item--width-2</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-3">grid-item--width-3</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-4">grid-item--width-4</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-5">grid-item--width-5</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-6">grid-item--width-6</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-7">grid-item--width-7</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-8">grid-item--width-8</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-9">grid-item--width-9</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-10">grid-item--width-10</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-11">grid-item--width-11</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--width-12">grid-item--width-12</div>
</div>