<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-1">grid-item--offset-1</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-2">grid-item--offset-2</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-3">grid-item--offset-3</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-4">grid-item--offset-4</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-5">grid-item--offset-5</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-6">grid-item--offset-6</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-7">grid-item--offset-7</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-8">grid-item--offset-8</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-9">grid-item--offset-9</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-10">grid-item--offset-10</div>
</div>

<div class="grid grid-template--cols-12 grid--example">
    <div class="grid__item grid-item--offset-11">grid-item--offset-11</div>
</div>